---
import Layout from "../layouts/Internas.astro";
import CursosRelated from "../components/CursosRelated.astro";
import AsideInterno from "../components/AsideInterno.astro";
const title = "Diplomado Diseño Digital :: Uneweb";
import ModalVideo from "../components/ModalVideo.astro";
const contenido = [
   {
      curso: "Photoshop Nivel I - II",
      link: "/photoshop",
   },
   {
      curso: "Illustrator Nivel I",
      link: "#",
   },
   {
      curso: "Diagramación Digital",
      link: "#",
   },
   {
      curso: "InDesign Nivel I",
      link: "/curso-de-indesign",
   },
   {
      curso: "Blender 3D  Niveles I - II - III",
      link: "/curso-de-3d-en-caracas/",
   },
   {
      curso: "After Effects CC Niveles I - II",
      link: "/after-effects-nivel-1/",
   },
   {
      curso: "Premiere Pro",
      link: "/premiere/",
   },
   {
      curso: "Animate",
      link: "/curso-de-animate-cc/",
   },
   {
      curso: "Proyecto especializado en diseño digital",
      link: "#",
   },
];

const urlDoc = "/docs/Contenido-del-Diplomado-de-Dise%C3%B1o-Digital.pdf";
const urlPic = "/img/pics/diplomado-diseno.webp";
---

<Layout title={title}>
   <!-- Banner Home -->
   <section
      class="section is-medium has-background-image banner"
      data-background="/img/banners/bg-diplomados.webp"
      data-position="center 30%"
   >
      <div class="container">
         <div class="columns is-vcentered">
            <div class="column is-7 landing-caption">
               <h1 class="title is-1 is-bold is-spaced light-text">
                  Diplomado de Diseño Digital
               </h1>
               <h2 class="subtitle is-5 light-text">
                  Desarrolla tus proyectos digitales aprendiendo a diseñar banner, publicaciones para redes sociales, videos, piezas publicitarias para impresos y web.
               </h2>
            </div>
         </div>
      </div>
   </section>

   <section class="section main">
      <div class="container">
         <div class="columns">
            <div class="column is-8">
               <div class="card">
                  <div class="card-content">
                     <div class="content">
                        <h3 class="title is-4 mb-10 is-title-reveal">
                           Clases online clases por zoom, videos tutoriales y
                           prácticas Clases presenciales de lunes a viernes y
                           Sabatino
                        </h3>

                        <p>
                           Explota tu creatividad y diseña piezas de publicidad cómo volantes, revistas, folletos, afiches, presentaciones, logos, 3D, videos, banner, post para redes sociales, presentaciones multimedia y mucho más…
                        </p>

                        <h4 class="title is-5">
                           El Diplomado contiene 12 cursos más el proyecto, es
                           100% práctico, el estudiante desarrollará:
                        </h4>
                     </div>

                     <ul class="item-list mb-5">
                        <li>Diseño para Revistas, Papelerías, Afiches, Volantes, Folletos</li>
                        <li>Diseño 2D y 3D</li>
                        <li>Edición de video</li>
                        <li>Cuentos animados</li>
                     </ul>

                     <div class="content is-size-5">
                        <p>
                           Al entregar el Proyecto se evalúa y emite un Diploma
                           Registrado en el Ministerio de Educación.
                        </p>
                        <p>
                           Encuentra empleo o trabajo freelance por las
                           siguientes páginas web <i
                              >empleate.com, computrabajo.com, freelancer.es</i
                           >
                        </p>
                        <p class="has-text-weight-semibold">
                           Certificado por el Ministerio de Educación. Código Nº
                           PR -07-017-11AC. Legaliza y apostilla tu certificado.
                        </p>
                     </div>

                     <div class="columns">
                        <div class="column">
                           <h4 class="subtitle">Duración:</h4>

                           <ul class="item-list">
                              <li>3 meses presencial lunes a viernes.</li>
                              <li>9 meses presencial sabatino.</li>
                              <li>6 meses online.</li>
                           </ul>
                        </div>
                        <div class="column">
                           <h4 class="subtitle">Laboratorios</h4>

                           <ul class="item-list">
                              <li>Incluye 1 computador por persona.</li>
                              <li>De 4 a 8 alumnos por salón.</li>
                           </ul>
                        </div>
                     </div>

                     <hr />

                     <div class="columns">
                        <div class="column">
                           <h4 class="subtitle">Certificación:</h4>

                           <p>Registrado en el Ministerio de Educación</p>
                        </div>
                        <div class="column">
                           <h4 class="subtitle">Requisitos:</h4>

                           <p>Manejo básico de office e internet.</p>
                        </div>
                     </div>

                     <h3 class="title is-4">Contenido del Diplomado</h3>

                     <ul class="link-list">
                        {
                           contenido.map((item) => (
                              <li>
                                 <a href={item.link} class="icon-text">
                                    <div class="icon">
                                       <i
                                          class="iconify"
                                          data-icon="fa6-solid:circle-check"
                                       />
                                    </div>
                                    <span class="has-text-weight-medium is-size-5">
                                       {item.curso}
                                    </span>
                                 </a>
                              </li>
                           ))
                        }
                     </ul>
                  </div>
               </div>
            </div>

            <CursosRelated tag="diseño"></CursosRelated>

            <AsideInterno urlDoc={urlDoc} urlPic={urlPic} btnDoc="Diplomado" />
         </div>
      </div>
   </section>

   <CursosRelated tag="diseño"></CursosRelated>

   <ModalVideo videoID="F6KlzHiR8eE" />
</Layout>

<style>
   .main {
      overflow: visible !important;
   }
</style>
